body {                    /* CSS fornecido pelo professor */
    font-family: Arial, sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label, input {
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }

  .conteudo {      /* CSS da imagem de fundo */
    background-image: url('Tallahassee-view.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; /* Define a altura do elemento como 100% da altura da tela */
}

.frase {                      /* CSS da frase inferior esquerda */
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}